.carrer-page .carrer-text {
    font-family: 'Cormorant Garamond';
    font-size: 25vw;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: fadeInOut calc(var(--animation-fade-time) * 1.75) ease-in forwards;
}

.col {
    width: calc(25% - 5.2vw);
    position: fixed;
    color: var(--secundary-color);
    background-color: var(--backgroud-color);  
    bottom: 0;
    z-index: 2;
    padding: 2.7vw 2.5vw 0 2.7vw;
    transition: opacity var(--animation-fade-time);
}

.carrer-page .col:nth-child(1) {
    height: 37vh;            
}

.carrer-page .col:nth-child(2) {
    height: 52vh;
    right: 50%;
}

.carrer-page .col:nth-child(3) {
    height: 67vh;
    right: 25%;
}


.carrer-page .col:nth-child(4) {
    height: 82vh;
    right: 0%;
}

@media screen and (min-width: 1130px) {
    .carrer-page .col:nth-child(1) {
        animation: pageAnimation calc(var(--animation-fade-time) * 2.2) linear forwards;
    }    

    .main-container.on-transition.carrer .carrer-page .col:nth-child(1) {
        animation: fullHeightBar1 3s ease forwards;
    }
    
    @keyframes fullHeightBar1 {
        0% {
            height: 37vh;
        }
        38% {
            height: 30vh;
        }
        100% {
            height: 100vh;
        }
    }
    
    .carrer-page .col:nth-child(2) {
        animation: pageAnimation calc(var(--animation-fade-time) * 2.4) ease-in forwards;
    }

    .main-container.on-transition.carrer .carrer-page .col:nth-child(2) {
        animation: fullHeightBar2 3s ease forwards;
    }
    
    @keyframes fullHeightBar2 {
        0% {
            height: 52vh;
        }
        38% {
            height: 45vh;
        }
        100% {
            height: 100vh;
        }
    }
    
    .carrer-page .col:nth-child(3) {
        animation: pageAnimation calc(var(--animation-fade-time) * 2.6) ease-in forwards;
    }

    .main-container.on-transition.carrer .carrer-page .col:nth-child(3) {
        animation: fullHeightBar3 3s ease forwards;
    }
    
    @keyframes fullHeightBar3 {
        0% {
            height: 67vh;
        }
        38% {
            height: 60vh;
        }
        100% {
            height: 100vh;
        }
    }
    
    .carrer-page .col:nth-child(4) {
        animation: pageAnimation calc(var(--animation-fade-time) * 2.8) ease-in forwards;
    }

    .main-container.on-transition.carrer .carrer-page .col:nth-child(4) {
        animation: fullHeightBar4 3s ease forwards;
    }
    
    @keyframes fullHeightBar4 {
        0% {
            height: 82vh;
        }
        38% {
            height: 75vh;
        }
        100% {
            height: 100vh;
        }
    }

    .main-container.on-transition.carrer .carrer-page .col .title,
    .main-container.on-transition.carrer .carrer-page .col .period,
    .main-container.on-transition.carrer .carrer-page .col .description  {
        animation: fadeOutText 3s ease forwards;
    }
}

.carrer-page .col .title {
    font-family: 'Cormorant Garamond';
    font-size: 43px;
    line-height: 43px;
}

.carrer-page .col .period {
    font-family: 'Cormorant Garamond';
    font-size: 25px;
    line-height: 25px;
}

.carrer-page .col .description {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 15px;
    padding-top: 19px;
}

.help-backgroud {    
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 0;
    background-color:  var(--backgroud-color);
    transition: min-height  var(--animation-fade-time);
}

.help-bar {
    position: fixed;
    background-color: var(--primary-color);
    width: 20px;
    top: 0;
    min-height: 0;
    transition: min-height  var(--animation-fade-time);
    left: 110px;
    z-index: 3;
}

@media screen and (max-width: 1130px) {
    .carrer-page .col:nth-child(1) {
        animation: fadeFirstColumn calc(var(--animation-fade-time) * 2) ease forwards;
    }

    .main-container.on-transition.carrer .carrer-page .col:nth-child(1) {
        animation: fadeOutFirstColumn calc(var(--animation-fade-time) * 0.5) ease forwards;
    }

    .carrer-page .col:nth-child(2) {
        animation: fadeSecondColumn calc(var(--animation-fade-time) * 2.5) ease forwards;
    }

    .main-container.on-transition.carrer .carrer-page .col:nth-child(2) {
        animation: fadeOutSecondColumn calc(var(--animation-fade-time) * 0.8) ease forwards;
    }

    .carrer-page .col:nth-child(3) {
        animation: fadeThirdColumn calc(var(--animation-fade-time) * 3) ease forwards;
    }

    .main-container.on-transition.carrer .carrer-page .col:nth-child(3) {
        animation: fadeOutThirdColumn calc(var(--animation-fade-time) * 1) ease forwards;
    }

    .carrer-page .col:nth-child(4) {
        animation: fadeFouthColumn calc(var(--animation-fade-time) * 3.5) ease forwards;
    }

    .main-container.on-transition.carrer .carrer-page .col:nth-child(4) {
        animation: fadeOutFouthColumn calc(var(--animation-fade-time) * 1.2) ease forwards;
    }

    .carrer-page .col .title,
    .carrer-page .col .period {
        animation: smallFontColumn var(--animation-fade-time) ease forwards;
    }
    
    .carrer-page .col .title {
        margin-right: 15px;
    }
    
    .carrer-page .col .description {
        font-size: 13px;
    }
    
    .help-bar {
        min-height: 100vh;
        transition: min-height  var(--animation-fade-time);
        transition: width  1s;
    }

    .main-container.on-transition.carrer .carrer-page .help-bar {
        width: 0;
    }

    .help-backgroud {
        min-height: 100vh;
        transition: min-height  var(--animation-fade-time);
    }
}

@keyframes pageAnimation {
    0% {
        bottom: -100%;
    }
    60% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes fadeInOut {
    20% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeFirstColumn {
    0% {
        width: 65%;
    }
    20% {
        opacity: 0;
    }
    21% {
        width: 65%;
    }
    50% {
        opacity: 0;
    }
    100% {
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        opacity: 1;
        top: 0;
        left: 136px;
        width: 65%;
    }
}

@keyframes fadeSecondColumn {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    21% {
        width: 65%;
    }
    50% {
        opacity: 0;
    }
    100% {
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        opacity: 1;
        top: 25%;
        left: 136px;
        width: 65%;
    }
}

@keyframes fadeThirdColumn {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    21% {
        width: 65%;
    }
    50% {
        opacity: 0;
    }
    100% {
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        opacity: 1;
        top: 50%;
        left: 136px;
        width: 65%;
    }
}

@keyframes fadeFouthColumn {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    21% {
        width: 65%;
    }
    50% {
        opacity: 0;
    }
    100% {
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        opacity: 1;
        left: 136px;
        top: 75%;
        width: 65%;
    }
}

@keyframes smallFontColumn {
    0% {

    }
    100% {
        font-size: 30px;
        line-height: 25px;
        display: inline-block;
        width: fit-content;
        margin-top: 1%;
    }
}

@keyframes fadeOutText {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
        margin-top: 10px;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOutFirstColumn {
    0% {
        opacity: 1;
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        top: 0;
        left: 136px;
        width: 65%;
    }
    100% {
        opacity: 0;
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        top: 0;
        left: 136px;
        width: 65%;
    }
}

@keyframes fadeOutSecondColumn {
    0% {
        opacity: 1;
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        top: 25%;
        left: 136px;
        width: 65%;
    }
    100% {
        opacity: 0;
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        top: 25%;
        left: 136px;
        width: 65%;
    }
}

@keyframes fadeOutThirdColumn {
    0% {
        opacity: 1;
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        top: 50%;
        left: 136px;
        width: 65%;
    }
    100% {
        opacity: 0;
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        top: 50%;
        left: 136px;
        width: 65%;
    }
}

@keyframes fadeOutFouthColumn {
    0% {
        opacity: 1;
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        top: 75%;
        left: 136px;
        width: 65%;
    }
    100% {
        opacity: 0;
        width: auto;
        height: calc(25vh - 3.0vw);
        position: fixed;
        z-index: 3; 
        top: 75%;
        left: 136px;
        width: 65%;
    }
}