.main-page .first-text-part, 
.main-page .second-text-part,
.main-page .third-text-part,
.main-page .fouth-text-part,
.main-page .fifth-text-part {
    font-family: 'Cormorant Garamond';
    font-size: 160px;
    font-weight: 100;
    position: fixed;
    margin: 0px;    
}

.main-page .first-text-part, .main-page .fouth-text-part {
    color: var(--secundary-color);
}

.main-page .second-text-part, .main-page .third-text-part, .main-page .fifth-text-part {
    color: var(--primary-color);
}

.main-page .fifth-text-part {
    display: none;
}

.main-page .first-text-part, 
.main-page .second-text-part {
    top: 20.78%;  
    background-color: var(--backgroud-color);
    z-index: 2;
}

.main-page .third-text-part, 
.main-page .fouth-text-part {
    bottom: 51.28%;
    opacity: 0;
    z-index: 1;
}

.main-page .first-text-part {
    animation: firstPart var(--animation-fade-time) ease forwards;
}

.main-page .second-text-part {
    animation: secondPart var(--animation-fade-time) ease forwards;
}

.main-page .third-text-part {
    left: -170px; 
    animation: thirdPart 5s ease forwards;    
}

.main-page .fouth-text-part {       
    right: -670px;
    animation: fourthPart 5s ease forwards;    
}

.main-page img.up-hand, .main-page img.down-hand {
    position: fixed;
    z-index: 0;
    height: 1050px; 
}

.main-page .up-hand {
    animation: upHand 5s ease forwards;
}

.main-page .down-hand {
    animation: downHand 5s ease forwards;
    transform: rotate(180deg);   
}

@keyframes downHand {
    0% {
        opacity: 0;
        top: -100%;
        right: -390px;
    }
    100% {
        opacity: 1;
        top: -280px;
        right: -90px;
    }
}

@keyframes upHand {
    0% {
        top: 100%;
        opacity: 0;
        right: 200px;
    }
    100% {
        opacity: 1;
        top: -100px;
        right: -70px;
    }
}

@keyframes firstPart {
    0% {
        color: var(--backgroud-color); 
        left: -450px
    }
    15% {
        color: var(--backgroud-color);
    }
    100% {
        opacity: 1;
        left: -190px;
    }
} 

@keyframes secondPart {
    0% {       
        color: var(--backgroud-color); 
        right: -800px;
    }
    15% {
        color: var(--backgroud-color);
    }
    100% {
        right: -690px;
    }
} 

@keyframes thirdPart {
    0% {
        opacity: 0;
        left: -570px;
    }
    65% {
        opacity: 0.5;
        left: -170px;
        bottom: 51.28%;
    }    
    100% {
        opacity: 1;
        bottom: 20.78%;
    }
}

@keyframes fourthPart {
    0% {
        opacity: 0;
        right: -970px;
    }
    65% {
        opacity: 0.5;
        right: -670px;
        bottom: 51.28%;
    }    
    100% {
        opacity: 1;
        bottom: 20.78%;
    }
}

@media screen and (max-width: 1250px) {
    .main-page .up-hand {
        animation: outHand 3s ease forwards;
        top: -100px;
        right: -70px;
    }
    
    .main-page .down-hand {
        animation: outHand 3s ease forwards;  
        top: -280px;
        right: -90px;
    }
}

@keyframes outHand {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1000px) {
    .main-page .fifth-text-part {
        display: unset;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}