.portfolio-page .carrer-text {
    font-family: 'Cormorant Garamond';
    font-size: 25vw;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: fadeInOut calc(var(--animation-fade-time) * 1.75) ease-in forwards;
}

.portfolio-page .col:nth-child(1) {
    height: 37vh;    
    animation: pageAnimation calc(var(--animation-fade-time) * 2.2) linear forwards;
}

.portfolio-page .col:nth-child(2) {
    height: 52vh;
    right: 50%;
    animation: pageAnimation calc(var(--animation-fade-time) * 2.4) ease-in forwards;
}

.portfolio-page .col:nth-child(3) {
    height: 67vh;
    right: 25%;
    animation: pageAnimation calc(var(--animation-fade-time) * 2.6) ease-in forwards;
}

.portfolio-page .col:nth-child(4) {
    height: 82vh;
    right: 0%;
    animation: pageAnimation calc(var(--animation-fade-time) * 2.8) ease-in forwards;
}

.portfolio-page .col {
    width: calc(25% - 5vw);
    position: fixed;
    color: var(--secundary-color);
    background-color: var(--backgroud-color);  
    bottom: 0;
    padding: 2.7vw 2.5vw 0 2.7vw;
}

.portfolio-page .col .title {
    font-family: 'Cormorant Garamond';
    font-size: 43px;
    line-height: 43px;
}

.portfolio-page .col .period {
    font-family: 'Cormorant Garamond';
    font-size: 25px;
    line-height: 25px;
}

.portfolio-page .col .description {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 15px;
    padding-top: 19px;
}

@media screen and (max-width: 1130px) {
    .portfolio-page .col:nth-child(1),
    .portfolio-page .col:nth-child(2),
    .portfolio-page .col:nth-child(3),
    .portfolio-page .col:nth-child(4) {
        animation: fadeOut var(--animation-fade-time) ease forwards;
    }
}

@keyframes pageAnimation {
    0% {
        bottom: -100%;
    }
    60% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes fadeInOut {
    20% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}