.portfolio-page .total-project-wrapper {
    width: fit-content;
    position: absolute;
    bottom: 54px;
    left: 40px;
    font-family: 'Montserrat';
}

.portfolio-page .total-project-values {
    color: var(--secundary-color);
    font-size: 26px;
    letter-spacing: 6px;
    font-weight: 500;

    animation: showTopText var(--animation-fade-time);
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    width: 0%;
    overflow: hidden;
}

.portfolio-page .total-project-label {
    color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;

    animation: showBottomText var(--animation-fade-time);
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    height: 0%;
    overflow: hidden;
    position: absolute;
}

@keyframes showTopText {
    0% { width: 0%; opacity: 0; }
    70% { width: 200%; }
    100% { width: 200%; opacity: 1; }
}

@keyframes showBottomText {
    0% { height: 0%; opacity: 0; }
    70% { height: 100%; }
    100% { height: 100%; opacity: 1; }
}

.portfolio-page .projects-carousel {
    top: 22%;
    right: 0;
    position: fixed;
    width: fit-content;
}

.portfolio-page .projects-carousel .project .info .technologies .tecnologie-title {
    bottom: 20px;
    right: 23px;
    font-size: 65px;
    line-height: 40px;
    position: absolute;
    color: var(--backgroud-colo);
    font-family: 'Cormorant Garamond';
}

.portfolio-page .projects-carousel .project .info .technologies .tecnologie-title {
    opacity: 0;
    z-index: -10;
    animation: outTechnology var(--animation-fade-time) ease forwards;
    -webkit-animation: outTechnology var(--animation-fade-time) ease forwards;
}

.portfolio-page .projects-carousel .project .info:hover .technologies .tecnologie-title {
    opacity: 1;
    z-index: 5;
    animation: inTechnology var(--animation-fade-time) ease forwards;
    -webkit-animation: inTechnology var(--animation-fade-time) ease forwards;
}

@keyframes outTechnology {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes inTechnology {
    0% {        
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.portfolio-page .projects-carousel .project .technologies .items {
    
}

.portfolio-page .projects-carousel .project > img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.portfolio-page .projects-carousel .project {
    opacity: 0.47;
    height: 390px;
    width: 700px;
    top: 50%;
    transform: translate(0px, -68%);
    position: fixed;
    background-color: var(--secundary-color);
    -webkit-transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
    -moz-transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
    -o-transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
    -ms-transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
    transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
}

.portfolio-page .projects-carousel .project .title {
    left: 0;
    top: 0px;
    font-size: 65px;
    line-height: 65px;
    position: absolute;
    color: var(--primary-color);
    font-family: 'Cormorant Garamond';
    opacity: 0;
    -webkit-transition: opacity 2.5s, top 1.2s ease;
    -moz-transition: opacity 2.5s, top 1.2s ease;
    -o-transition: opacity 2.5s, top 1.2s ease;
    -ms-transition: opacity 2.5s, top 1.2s ease;
    transition: opacity 2.5s, top 1.2s ease;
}

.portfolio-page .projects-carousel .project.active .title {
    opacity: 1;
    top: -70px;
}

.portfolio-page .projects-carousel .project .info {
    position: absolute;
    bottom: -9px;
    right: -9px;
    height: 37px;
    width: 37px;
    background-color: var(--primary-color);
    -webkit-transition: width 1.3s, height 1.3s;
    -moz-transition: width 1.3s, height 1.3s;
    -o-transition: width 1.3s, height 1.3s;
    -ms-transition: width 1.3s, height 1.3s;
    transition: width 1.3s, height 1.3s;
}

.portfolio-page .projects-carousel .project.active .info:hover {
    height: 345px;
    width: 695px;
    cursor: pointer;
}

.portfolio-page .projects-carousel .project .info .descripion {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 15px;
    padding: 20px 23px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.portfolio-page .projects-carousel .project.active .info:hover .descripion {
    opacity: 1;
    height: auto;
    overflow: unset;
}


.portfolio-page .projects-carousel .project .info .expand-button .arrow {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    transform: rotate(-137deg);
    opacity: 0.65;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.portfolio-page .projects-carousel .project.active .info:hover .expand-button .arrow  {
    opacity: 0;
}

.portfolio-page .projects-carousel .project.active .info {
    opacity: 1;
}

.portfolio-page .projects-carousel .project:hover {
    cursor: pointer;
    opacity: 0.70;
}

.portfolio-page .projects-carousel .active:hover {
    cursor: unset;
}

.portfolio-page .projects-carousel .project.right-0 {
    height: 280px;
    right: -1100px;
}

.portfolio-page .projects-carousel .project.right-1 {
    height: 280px;
    right: -632px;
}

.portfolio-page .projects-carousel .project.right-1:hover {
    right: -623px;
}

.portfolio-page .projects-carousel .project.left-0 {
    height: 280px;
    right: 200px;
    transform: translate(-100vw, -68%);
}

.portfolio-page .projects-carousel .project.left-1 {
    height: 280px;
    right: -70px;
    transform: translate(-100vw, -68%);
}

.portfolio-page .projects-carousel .project.left-1:hover {
    right: -79px;
}

.portfolio-page .projects-carousel .project.active {
    opacity: 1;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    height: 350px;
}

.portfolio-page .projects-carousel .project.active > img {
    opacity:1;
    animation-name: imageFadeAnimation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 42s;
}

.portfolio-page .projects-carousel .project.active:hover > img {
    animation-play-state: paused;
    cursor: grab;
}

@keyframes imageFadeAnimation {
    0% {
        opacity:1;
    }
    11.9047619047619% {
        opacity:1;
    }
    16.66666666666667% {
        opacity:0;
    }
    95.23809523809524% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}