.portfolio-page .total-project-wrapper {
    width: fit-content;
    position: absolute;
    bottom: 54px;
    left: 40px;
    font-family: 'Montserrat';
}

.portfolio-page .total-project-values {
    color: var(--secundary-color);
    font-size: 26px;
    letter-spacing: 6px;
    font-weight: 500;

    animation: showTopText 1.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    width: 0%;
    overflow: hidden;
}

.portfolio-page .total-project-label {
    color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;

    animation: showBottomText 1.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    height: 0%;
    overflow: hidden;
    position: absolute;
}

@keyframes showTopText {
    0% { width: 0%;  }
    100% { width: 200%;  }
}

@keyframes showBottomText {
    0% { height: 0%;  }
    100% { height: 100%;  }
}

.portfolio-page .projects-carousel {
    top: 22%;
    right: 0;
    position: fixed;
    width: fit-content;
}

.portfolio-page .projects-carousel .project img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.portfolio-page .projects-carousel .project {
    opacity: 0.47;
    height: 390px;
    width: 750px;
    position: fixed;
    background-color: var(--secundary-color);
    -webkit-transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
    -moz-transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
    -o-transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
    -ms-transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
    transition: right 1s, transform 1s, height 1s, opacity 1s ease-in-out;
}

.portfolio-page .projects-carousel .project:hover {
    cursor: pointer;
    opacity: 0.70;
}

.portfolio-page .projects-carousel .active:hover {
    cursor: unset;
}

.portfolio-page .projects-carousel .project.right-0 {
    height: 280px;
    right: -1050px;
}

.portfolio-page .projects-carousel .project.right-1 {
    height: 280px;
    right: -682px;
}

.portfolio-page .projects-carousel .project.right-1:hover {
    right: -673px;
}

.portfolio-page .projects-carousel .project.left-0 {
    height: 280px;
    right: 0px;
    transform: translate(-100vw, 0px);
}

.portfolio-page .projects-carousel .project.left-1 {
    height: 280px;
    right: -70px;
    transform: translate(-100vw, 0px);
}

.portfolio-page .projects-carousel .project.left-1:hover {
    right: -79px;
}

.portfolio-page .projects-carousel .project.active {
    opacity: 1;
    right: 50%;
    transform: translate(50%, 0px);
}

.portfolio-page .projects-carousel .project.active img {
    opacity:1;
    animation-name: imageFadeAnimation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 42s;
}

.portfolio-page .projects-carousel .project.active:hover img {
    animation-play-state: paused;
    cursor: grab;
}

@keyframes imageFadeAnimation {
    0% {
        opacity:1;
    }
    11.9047619047619% {
        opacity:1;
    }
    16.66666666666667% {
        opacity:0;
    }
    95.23809523809524% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}