.contact-button  {
    animation: fadeIn var(--animation-fade-time) linear forwards;
    -webkit-animation: fadeIn var(--animation-fade-time) linear forwards;
    z-index: 4;
}

.contact-button {
    color: var(--secondary-color);
    font-family: 'Montserrat';
    position: absolute;
    top: 40px;
    right: 40px;
    margin: 0px;
    background-color: transparent;
    height: 37px;
    width: 120px;
    border: 1px solid var(--secondary-color);
    font-size: 13px;
    transition: border 0.7s, font-size 0.5s;
}

.contact-button:not(:disabled):hover {
    cursor: pointer;
    font-size: 13.5px;
    border: 1px solid transparent;   
}

.contact-button:focus, .contact-button:active {
    box-shadow: none;
    outline: none;
}

.contact-button.disabled {
    z-index: 4;
    animation: fadeOut var(--animation-fade-time) linear forwards;
    -webkit-animation: fadeOut var(--animation-fade-time) linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}