.logo {
    color: var(--secundary-color);
    font-family: 'Montserrat';
    position: absolute;
    top: 40px;
    left: 40px;
    margin: 0px;
    font-size: 40px;
    font-weight: 900;
    line-height: 28px;
    animation: fadeIn var(--animation-fade-time) linear forwards;
}