.logo {
    color: var(--secundary-color);
    font-family: 'Montserrat';
    position: absolute;
    top: 25px;
    left: 22px;
    margin: 0px;
    font-size: 40px;
    font-weight: 900;
    line-height: 28px;
}