:root {
    --backgroud-color: #000000;
    --primary-color: #ECAEAC;
    --secundary-color: #E6E6E6;
}

body {
    background-color: var(--backgroud-color);
    height: 100%;
    width: 100%;
    margin: 0px;
}

.main-container {
    height: 100vh;
}

@keyframes animation {
    
}